<ion-header>
 <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Question Bank</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
  <div class="question-entry" *ngIf="questionEntry">
  <h4 id="heading">Select Parameters</h4>
  <form [formGroup]="quesBankDetails">
    <ion-item id="select-item">
      <ion-label color="dark">Question Type*</ion-label>
      <ion-select interface="action-sheet" (ionChange)="getQSubType($event);" formControlName="inpQType">
        <ion-option *ngFor="let q of qType" [value]="q.qt_id">{{q.qt_name}}</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item id="select-item">
      <ion-label color="dark">Question Sub-Type*</ion-label>
        <ion-select interface="action-sheet" formControlName="inpQSubType">
          <ion-option *ngFor="let item of qSubType" [value]="item.qst_id">{{item.qst_name}}</ion-option>   
        </ion-select>
        </ion-item>
  
        <ion-item id="select-item">
          <ion-label color="dark">Class*</ion-label>
          <ion-select interface="action-sheet" formControlName="inpClass" (ionChange)="getSubject($event)">
            <ion-option *ngFor="let cls of class" [value]="cls.class_id">{{cls.class_name}}</ion-option>
          </ion-select>
        </ion-item>
        
        <ion-item id="select-item">
          <ion-label color="dark">Subject*</ion-label>
          <ion-select interface="action-sheet" formControlName="inpSubject" (ionChange)="getTopic($event)">
            <ion-option *ngFor="let sub of subject" [value]="sub.sub_id">{{sub.sub_name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item id="select-item">
          <ion-label color="dark">Topic*</ion-label>
          <ion-select interface="action-sheet" formControlName="inpTopic" (ionChange)="getSubTopic($event)">
            <ion-option *ngFor="let top of topic" [value]="top.topic_id">{{top.topic_name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item id="select-item">
          <ion-label color="dark">Sub-Topic*</ion-label>
          <ion-select interface="action-sheet" formControlName="inpSubTopic">
            <ion-option *ngFor="let s_top of sub_topic" [value]="s_top.st_id">{{s_top.st_name}}</ion-option>
          </ion-select>
        </ion-item>
      <button ion-button type="submit" (click)="logForm(); hideForm(); getAllQuestions();">Apply</button>
      <button ion-button color="danger" type=reset >Reset</button>
    </form>
  </div>  
    
  <div class="show-button" *ngIf="!(questionEntry)"><button ion-button (click)="showForm()">Show Form</button></div> 

  <div class="filter">
      <ion-item id="select-item"> 
          <ion-label color="special">Filter</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item> 
  
  
  <div class="result" *ngIf="check_form_fill">
      <ion-card *ngFor="let ques of questions" class="card">
          <ion-toolbar class="card-header">
              <span class="card-title">Q No.: {{ques.qus_id}}</span> 
              <ion-buttons end>
                <button  ion-button icon-end >
                  <ion-icon class="icon" name="thumbs-down"></ion-icon>
                </button>
                <button ion-button icon-end (click)="openModal(ques.num)">
                  <ion-icon class="icon" name="eye" ></ion-icon>
                </button>
              </ion-buttons>
          </ion-toolbar>
          <ion-row class="question">
            <strong><span class="card-text-1" >Question :</span></strong>
            <span class="card-text-2"><div [innerHTML]="ques.qus_name"></div></span>
          </ion-row>
          <br>
          <ion-row class="answer">
            <strong><span class="card-text-1">Answer :</span></strong>
            <span class="card-text-2">{{ques.qopt_answer}}</span>
            </ion-row>
            <!--ion-row class="answer">
                <ion-item>
                    <ion-label>Select Question</ion-label>
                    <ion-checkbox #selectQuestion></ion-checkbox>
                  </ion-item>
            </ion-row-->  
          </ion-card>
      </div>
    </div>
</ion-content>
