<!--
  Generated template for the QuestionBankPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Question Bank</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="question-entry">
  <h4>Select Parameters</h4>
  <form [formGroup]="quesBankDetails">
    <ion-item>
      <ion-label>Question Type*</ion-label>
      <ion-select (ionChange)="check($event);" formControlName="inpQType">
        <ion-option #subjective>Subjective</ion-option>
        <ion-option #objective>Objective</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Question Sub-Type*</ion-label>
        <ion-select formControlName="inpQSubType">
          <ion-option *ngFor="let item of qSubType" [value]="item.name">{{item.name}}</ion-option>   
        </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Class*</ion-label>
        <ion-select formControlName="inpClass">
          <ion-option *ngFor="let cls of class">{{cls.name}}</ion-option>
        </ion-select>
    </ion-item>
      
    <ion-item>
      <ion-label>Subject*</ion-label>
        <ion-select formControlName="inpSubject">
          <ion-option *ngFor="let sub of subject">{{sub.name}}</ion-option>
        </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Topic*</ion-label>
        <ion-select formControlName="inpTopic">
          <ion-option *ngFor="let top of topic">{{top.name}}</ion-option>
        </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Sub-Topic*</ion-label>
        <ion-select formControlName="inpSubTopic">
          <ion-option *ngFor="let s_top of sub_topic">{{s_top.name}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button type="submit" (click)="logForm()">Apply</button>
      <button ion-button color="danger" type=reset >Reset</button>
    </form>
  </div>  
    <div class="result">
      <h1>Result will be Displayed Here!!</h1>
    </div>
</ion-content>
