page-home {

}

.heading
{
    text-align: center;
}

#icon
{
    font-size:35px;
}

.sec-text
{
    color:aqua;
}

.icon-center
{
    width: 100px; 
    height: 100px; 
    margin-top:145px;
}

.footer
{
    text-align:center;
}

.footer-text
{
    color:blue;
}

