#btn-grp
{     background-color:white;
    border: 1px solid black;
    margin-left:15px;
    width:275px;   
    margin-top:15px;
    margin-bottom:15px;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;

}

.main-item
{
    padding:1px;
    margin:3px;
    
}

.seg-btn
{
    border:1px solid black;
    font-size:12px;
}

#seg-icon
{
    font-size:20px;
}

.accordion-sub-title
{
    font-size:12px;
}


.accordion-title
{
    font-size:14px;
}