#btn-grp
{     background-color:white;
    margin-left:15px;
    width:275px;   
    margin-top:15px;
    margin-bottom:15px;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;

}

.main-item
{
    padding:1px;
    margin:3px;
    
}
