page-review-added-questions {

}

.btn-select
{
    font-size:20px;
    padding:85px 25px;
    border-radius: 25px;;
    margin-top:45px;
    width:325px;
    background-image: url(../assets/imgs/btn_bg.jpg);
    box-shadow: 5px 5px gray; 
    z-index:0;
}