<!--
  Generated template for the BulkUploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bulk Upload</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="fileChoose()">Choose file</button>

  <div class="generate-question-template-form">
    <form [formGroup]="questionTemplateGeneratorForm">
      <ion-item id="select-item">
        <ion-label color="dark">Board*</ion-label>
        <ion-select interface="action-sheet" formControlName="inpBoard">
          <ion-option *ngFor="let brd of board" [value]="brd.board_id">{{brd.board_alias}}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item id="select-item">
        <ion-label color="dark">Class*</ion-label>
        <ion-select interface="action-sheet" formControlName="inpClass" (ionChange)="getSubject($event)">
          <ion-option *ngFor="let cls of class" [value]="cls.class_id">{{cls.class_name}}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item id="select-item">
        <ion-label color="dark">Subject*</ion-label>
        <ion-select interface="action-sheet" formControlName="inpSubject" (ionChange)="getTopic($event)">
          <ion-option *ngFor="let sub of subject" [value]="sub.sub_id">{{sub.sub_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Topic*</ion-label>
        <ion-select interface="action-sheet" formControlName="inpTopic" (ionChange)="getSubTopic($event)">
          <ion-option *ngFor="let top of topic" [value]="top.topic_id">{{top.topic_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Sub-Topic*</ion-label>
        <ion-select interface="action-sheet" formControlName="inpSubTopic">
          <ion-option *ngFor="let s_top of sub_topic" [value]="s_top.st_id">{{s_top.st_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item id="select-item">
        <ion-label color="dark">Question Type*</ion-label>
        <ion-select interface="action-sheet" (ionChange)="getQSubType($event);" formControlName="inpQType">
          <ion-option *ngFor="let q of qType" [value]="q.qt_id">{{q.qt_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Question Sub-Type*</ion-label>
          <ion-select interface="action-sheet" (ionChange)=" getSkill(); getDifficulty();" formControlName="inpQSubType">
            <ion-option *ngFor="let item of qSubType" [value]="item.qst_id">{{item.qst_name}}</ion-option>   
          </ion-select>
          </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Skill Type*</ion-label>
        <ion-select interface="action-sheet" formControlName="inpSkillType">
          <ion-option *ngFor="let skill of skillData" [value]="skill.skill_id">{{skill.skill_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Level of Difficulty*</ion-label>
        <ion-select interface="action-sheet" formControlName="inpDifficultyLevel">
          <ion-option *ngFor="let lod of difficultyLevel" [value]="lod.dl_id">{{lod.dl_name}}</ion-option>
        </ion-select>
      </ion-item>

      <button text-center ion-button class="generate-button" type="submit" color="special" (click)="logForm();generateExcelSheet()">Generate Excel Sheet</button>
    </form>
  </div>
</ion-content>
