<ion-header>

    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Add Question</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
  <div class="question-entry" *ngIf="questionEntry" >    
    <h4 id="heading">Question Entry Option</h4>
    
    <form [formGroup]="quesEntry">
      <ion-item id="select-item">
        <ion-label color="dark">Board*</ion-label>
        <ion-select formControlName="inpBoard">
          <ion-option *ngFor="let br of board">{{br.alias}}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item id="select-item">
        <ion-label color="dark">Class*</ion-label>
        <ion-select formControlName="inpClass">
          <ion-option *ngFor="let cls of class">{{cls.name}}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item id="select-item">
        <ion-label color="dark">Subject*</ion-label>
        <ion-select formControlName="inpSubject">
          <ion-option *ngFor="let sub of subject">{{sub.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Topic*</ion-label>
        <ion-select formControlName="inpTopic">
          <ion-option *ngFor="let top of topic">{{top.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Sub-Topic*</ion-label>
        <ion-select formControlName="inpSubTopic">
          <ion-option *ngFor="let s_top of sub_topic">{{s_top.name}}</ion-option>
        </ion-select>
      </ion-item>
      </form>
    </div>

  <hr>
  
  <div class="show-button" *ngIf="!(questionEntry && selectParameters)"><button ion-button (click)="showForm()">Show Forms</button></div>
  <div class="select-parameters" *ngIf="selectParameters">
    <h4 id="heading">Select Parameters</h4>
    <form [formGroup]="quesDetails" >
      <ion-item id="select-item">
        <ion-label color="dark">Question Type*</ion-label>
        <ion-select (ionChange)="check($event); resetForm()" formControlName="inpQType">
          <ion-option #subjective>Subjective</ion-option>
          <ion-option #objective>Objective</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Question Sub-Type*</ion-label>
          <ion-select (ionChange)="checkOption($event); resetForm(); hideForm();" formControlName="inpQSubType">
            <ion-option *ngFor="let item of qSubType" [value]="item.name">{{item.name}}</ion-option>   
          </ion-select>
          </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Skill Type*</ion-label>
        <ion-select formControlName="inpSkillType">
          <ion-option [value]="1">Skill 1</ion-option>
          <ion-option [value]="2">Skill 2</ion-option>
          <ion-option [value]="3">Skill 3</ion-option>
          <ion-option [value]="4">Skill 4</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Level of Difficulty*</ion-label>
        <ion-select formControlName="inpDifficultyLevel">
          <ion-option [value]="Easy">Easy</ion-option>
          <ion-option [value]="Intermediate">Intermediate</ion-option>
          <ion-option [value]="Hard">Hard</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Suggested Marks*</ion-label>
        <ion-select formControlName="inpMarks">
          <ion-option [value]="1">One</ion-option>
          <ion-option [value]="2">Two</ion-option>
          <ion-option [value]="3">Three</ion-option>
          <ion-option [value]="4">Four</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Negative Marks</ion-label>
        <ion-select formControlName="inpNegMarks">
          <ion-option [value]="-1">-1</ion-option>
          <ion-option [value]="-2">-2</ion-option>
          <ion-option [value]="-3">-3</ion-option>
          <ion-option [value]="-4">-4</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Time Alloted(in Mins)*</ion-label>
        <ion-select formControlName="inpTime" >
          <ion-option [value]="1">1</ion-option>
          <ion-option [value]="5">5</ion-option>
          <ion-option [value]="10">10</ion-option>
          <ion-option [value]="15">15</ion-option>
        </ion-select>
      </ion-item>
      <ion-item id="select-item">
        <ion-label color="dark">Reference*</ion-label>
        <ion-input formControlName="inpReference"></ion-input>
      </ion-item>
    </form>
  </div>
  <hr>
  <h3 id="heading">Question Details</h3>
      <div *ngIf="checkFill" class="details-div">
        <form [formGroup]="quesAns">
          <p id="heading">Type Question Here</p>
          <div class="ques"[froalaEditor] formControlName="question"></div>
          <h5 id="heading">Answer*</h5>
          <div class="ans"[froalaEditor] formControlName="answer"></div>
          <h5 id="heading">Explaination</h5>
          <div class="explaination"[froalaEditor] formControlName="explaination"></div>
        </form>
      </div>

      <div *ngIf="checkIdentify" class="details-div">
        <form [formGroup]="quesAns">
          <h5 id="heading">Identify the part of:*</h5>
          <div class="ques"[froalaEditor] formControlName="question"></div>
          <h5 id="heading">Answer*</h5>
          <div class="ans"[froalaEditor] formControlName="answer"></div>
          <h5 id="heading">Explaination:</h5>
          <div class="explaination"[froalaEditor] formControlName="explaination"></div>
        </form>
    </div>

    <div *ngIf="checkOneLine" class="details-div">
      <form [formGroup]="quesAns">
        <h5 id="heading">Type your Question:*</h5>
        <div class="ques"[froalaEditor] formControlName="question"></div>
        <h5 id="heading">Answer (One Line/One Word Answer Type):*</h5>
        <div class="ans"[froalaEditor] formControlName="answer"></div>
      </form>
      </div>

    <div *ngIf="checkVSA" class="details-div">
      <form [formGroup]="quesAns">
        <h5 id="heading">Type your Question:*</h5>
        <div class="ques"[froalaEditor] formControlName="question"></div>
        <h5 id="heading">Answer (Very Short Answer Type):*</h5>
        <div class="ans"[froalaEditor] formControlName="answer"></div>
      </form>
    </div>

    <div *ngIf="checkSA" class="details-div">
      <form [formGroup]="quesAns">
        <h5 id="heading">Type your Question:*</h5>
        <div class="ques" [froalaEditor] formControlName="question"></div>
        <h5 id="heading">Answer (Short Answer Type):*</h5>
        <div class="ans" [froalaEditor] formControlName="answer"></div>
      </form>
      </div>

    <div *ngIf="checkLA" class="details-div">
      <form [formGroup]="quesAns">
        <h5 id="heading">Type your Question:*</h5>
        <div class="ques" [froalaEditor] formControlName="question"></div>
        <h5 id="heading">Answer:*</h5>
        <div class="ans" [froalaEditor] formControlName="answer"></div>
      </form>
      </div>

    <div *ngIf="checkVLA" class="details-div">
    <form [formGroup]="quesAns">
        <h5 id="heading">Type your Question:*</h5>
        <div class="ques" [froalaEditor] formControlName="question"></div>
        <h5 id="heading">Answer (Very Long Answer Type):*</h5>
        <div class="ans" [froalaEditor] formControlName="answer"></div>
      </form>
    </div>

    <div *ngIf="checkMcqSingle" class="details-div">
    <form [formGroup]="objectiveQuesAns">
      <h5 id="heading">Type Question:*</h5>
        <div class="ques"[froalaEditor] formControlName="question"></div>
        <ion-grid radio-group formControlName="answer">
          <ion-list-header>
            <h3 id="heading">MCQ(Single Response)</h3>
          </ion-list-header>
      
          <ion-row>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="option-title" ><strong>A</strong></ion-label>
                    <hr class="option-radio-divider">
                    <ion-radio item-left value="A"></ion-radio>
                  </ion-card>
                </ion-col>
              <ion-col col-10><div class="ans" [froalaEditor] formControlName="option1"></div></ion-col>
          </ion-row>
          
      
          <ion-row>
              <ion-col col-2>
                <ion-card class="option-card-div">
                  <ion-label class="option-title"><strong>B</strong></ion-label>
                  <hr class="option-radio-divider">
                  <ion-radio item-left value="B"></ion-radio>
                </ion-card>
              </ion-col>
            <ion-col col-10><div class="ans" [froalaEditor]  formControlName="option2"></div></ion-col>
          </ion-row>

          <ion-row>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="option-title"><strong>C</strong></ion-label>
                    <hr class="option-radio-divider">
                    <ion-radio item-left value="C"></ion-radio>
                  </ion-card>
                </ion-col>
              <ion-col col-10><div class="ans" [froalaEditor] formControlName="option3"></div></ion-col>
            </ion-row>
      
          <ion-row>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="option-title"><strong>D</strong></ion-label>
                    <hr class="option-radio-divider">
                    <ion-radio item-left value="D"></ion-radio>
                  </ion-card>
                </ion-col>
              <ion-col col-10><div class="ans" [froalaEditor] formControlName="option4"></div></ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>

    <div *ngIf="checkMcqMultiple" class="details-div">
        <h5>Type Question:*</h5>
        <form >
          <div class="ques"[froalaEditor] formControlName="question"></div>
          <ion-grid>
            <ion-list-header>
              <h3>MCQ(Multiple Response)</h3>
            </ion-list-header>
        
            <ion-row>
                <ion-col col-2>
                    <ion-card class="option-card-div">
                      <ion-label class="option-title"><strong>A</strong></ion-label>
                      <hr class="option-radio-divider">
                      <ion-checkbox item-left formControlName="correctAnswer.item1"></ion-checkbox>
                    </ion-card>
                  </ion-col>
                <ion-col col-10><div class="ans" [froalaEditor] formControlName="option1"></div></ion-col>
            </ion-row>
            
        
            <ion-row>
                <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="option-title"><strong>B</strong></ion-label>
                    <hr class="option-radio-divider">
                    <ion-checkbox item-left formControlName=""></ion-checkbox>
                  </ion-card>
                </ion-col>
              <ion-col col-10><div class="ans" [froalaEditor] formControlName="option2" ></div></ion-col>
            </ion-row>
    
            <ion-row>
                <ion-col col-2>
                    <ion-card class="option-card-div">
                      <ion-label class="option-title"><strong>C</strong></ion-label>
                      <hr class="option-radio-divider">
                      <ion-checkbox item-left></ion-checkbox>
                    </ion-card>
                  </ion-col>
                <ion-col col-10><div class="ans" [froalaEditor] formControlName="option3" ></div></ion-col>
              </ion-row>
        
            <ion-row>
                <ion-col col-2>
                    <ion-card class="option-card-div">
                      <ion-label class="option-title"><strong>D</strong></ion-label>
                      <hr class="option-radio-divider">
                      <ion-checkbox item-left ></ion-checkbox>
                    </ion-card>
                  </ion-col>
                <ion-col col-10><div class="ans" [froalaEditor] formControlName="option4"></div></ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
     

      <div *ngIf="checkTF" class="details-div">
          <h5>Type Question:*</h5>
          <div class="ques"[froalaEditor]></div>
          
          <ion-grid>
              <ion-row>
                  <ion-col col-4>
                      <ion-card class="option-card-div">
                        <ion-label class="option-title"><strong>True</strong></ion-label>
                        <hr class="option-radio-divider">
                        <ion-radio item-left></ion-radio>
                      </ion-card>
                    </ion-col>
              </ion-row>
              
          
              <ion-row>
                  <ion-col col-4>
                    <ion-card class="option-card-div">
                      <ion-label class="option-title"><strong>False</strong></ion-label>
                      <hr class="option-radio-divider">
                      <ion-radio item-left></ion-radio>
                    </ion-card>
                  </ion-col>
              </ion-row>
              
          <h5>Explaination:*</h5>
          <div class="ans"[froalaEditor]></div>
        </ion-grid>
      </div>

      <div *ngIf="checkMatch" class="details-div">
          <h5>Type Question:*</h5>
          <div class="ques"[froalaEditor]></div>
          <ion-grid >       
            <div class="option">
                <ion-row>
                    <ion-col col-2>
                        <ion-card class="option-card-div">
                          <ion-label class="option-title"><strong>A</strong></ion-label>
                        </ion-card>
                      </ion-col>
                    <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
                </ion-row>
                
                <ion-row>
                    <ion-col col-2>
                        <ion-card class="option-card-div">
                            <ion-label class="option-title"><strong>P</strong></ion-label>
                          </ion-card>
                    </ion-col>
                  <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
                </ion-row>
                <ion-grid radio-group>
                  <ion-row>
                      <ion-col col-3></ion-col>
                      <ion-col col-2>
                          <ion-card class="option-card-div">
                            <ion-label class="match-title"><strong>P</strong></ion-label>
                            <hr class="option-radio-divider">
                            <ion-radio></ion-radio>
                          </ion-card>
                  </ion-col>

                  <ion-col col-2>
                          <ion-card class="option-card-div">
                            <ion-label class="match-title"><strong>Q</strong></ion-label>
                            <hr class="option-radio-divider">
                            <ion-radio></ion-radio>
                          </ion-card>
                  </ion-col>
                  <ion-col col-2>
                      <ion-card class="option-card-div">
                        <ion-label class="match-title"><strong>R</strong></ion-label>
                        <hr class="option-radio-divider">
                        <ion-radio></ion-radio>
                      </ion-card>
              </ion-col>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="match-title"><strong>S</strong></ion-label>
                    <hr class="option-radio-divider">
                    <ion-radio></ion-radio>
                  </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
    
        <div class="option">
            <ion-row>
                <ion-col col-2>
                    <ion-card class="option-card-div">
                      <ion-label class="option-title"><strong>B</strong></ion-label>
                    </ion-card>
                  </ion-col>
                <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
            </ion-row>
            
            <ion-row>
                <ion-col col-2>
                    <ion-card class="option-card-div">
                        <ion-label class="option-title"><strong>Q</strong></ion-label>
                      </ion-card>
                </ion-col>
              <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
            </ion-row>
            <ion-grid radio-group>
              <ion-row>
                  <ion-col col-3></ion-col>
                  <ion-col col-2>
                      <ion-card class="option-card-div">
                        <ion-label class="match-title"><strong>P</strong></ion-label>
                        <hr class="option-radio-divider">
                        <ion-radio></ion-radio>
                      </ion-card>
              </ion-col>

              <ion-col col-2>
                      <ion-card class="option-card-div">
                        <ion-label class="match-title"><strong>Q</strong></ion-label>
                        <hr class="option-radio-divider">
                        <ion-radio></ion-radio>
                      </ion-card>
              </ion-col>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="match-title"><strong>R</strong></ion-label>
                    <hr class="option-radio-divider">
                    <ion-radio></ion-radio>
                  </ion-card>
          </ion-col>
          <ion-col col-2>
              <ion-card class="option-card-div">
                <ion-label class="match-title"><strong>S</strong></ion-label>
                <hr class="option-radio-divider">
                <ion-radio></ion-radio>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="option">
        <ion-row>
            <ion-col col-2>
                <ion-card class="option-card-div">
                  <ion-label class="option-title"><strong>C</strong></ion-label>
                </ion-card>
              </ion-col>
            <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col col-2>
                <ion-card class="option-card-div">
                    <ion-label class="option-title"><strong>R</strong></ion-label>
                  </ion-card>
            </ion-col>
          <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
        </ion-row>
        <ion-grid radio-group>
          <ion-row>
              <ion-col col-3></ion-col>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="match-title"><strong>P</strong></ion-label>
                    <hr class="option-radio-divider">
                    <ion-radio></ion-radio>
                  </ion-card>
          </ion-col>

          <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="match-title"><strong>Q</strong></ion-label>
                    <hr class="option-radio-divider">
                    <ion-radio></ion-radio>
                  </ion-card>
          </ion-col>
          <ion-col col-2>
              <ion-card class="option-card-div">
                <ion-label class="match-title"><strong>R</strong></ion-label>
                <hr class="option-radio-divider">
                <ion-radio></ion-radio>
              </ion-card>
          </ion-col>
          <ion-col col-2>
            <ion-card class="option-card-div">
              <ion-label class="match-title"><strong>S</strong></ion-label>
              <hr class="option-radio-divider">
              <ion-radio></ion-radio>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="option">
        <ion-row>
            <ion-col col-2>
                <ion-card class="option-card-div">
                  <ion-label class="option-title"><strong>D</strong></ion-label>
                </ion-card>
              </ion-col>
            <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col col-2>
                <ion-card class="option-card-div">
                    <ion-label class="option-title"><strong>S</strong></ion-label>
                  </ion-card>
            </ion-col>
          <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
        </ion-row>
        <ion-grid radio-group>
          <ion-row>
              <ion-col col-3></ion-col>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="match-title"><strong>P</strong></ion-label>
                    <hr class="option-radio-divider">
                    <ion-radio></ion-radio>
                  </ion-card>
          </ion-col>

          <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="match-title"><strong>Q</strong></ion-label>
                    <hr class="option-radio-divider">
                    <ion-radio></ion-radio>
                  </ion-card>
          </ion-col>
          <ion-col col-2>
              <ion-card class="option-card-div">
                <ion-label class="match-title"><strong>R</strong></ion-label>
                <hr class="option-radio-divider">
                <ion-radio></ion-radio>
              </ion-card>
          </ion-col>
          <ion-col col-2>
              <ion-card class="option-card-div">
                <ion-label class="match-title"><strong>S</strong></ion-label>
                <hr class="option-radio-divider">
                <ion-radio></ion-radio>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <h5>Explaination:*</h5>
          <div class="ans"[froalaEditor]></div>
  </ion-grid>
  </div>

  <div *ngIf="checkMatrix" class="details-div">
      <h5>Type Question:*</h5>
      <div class="ques"[froalaEditor]></div>
      <ion-grid >       
        <div class="option">
            <ion-row>
                <ion-col col-2>
                    <ion-card class="option-card-div">
                      <ion-label class="option-title"><strong>A</strong></ion-label>
                    </ion-card>
                  </ion-col>
                <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
            </ion-row>
            
            <ion-row>
                <ion-col col-2>
                    <ion-card class="option-card-div">
                        <ion-label class="option-title"><strong>P</strong></ion-label>
                      </ion-card>
                </ion-col>
              <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
            </ion-row>
            <ion-grid radio-group>
              <ion-row>
                  <ion-col col-3></ion-col>
                  <ion-col col-2>
                      <ion-card class="option-card-div">
                        <ion-label class="match-title"><strong>P</strong></ion-label>
                        <hr class="option-radio-divider">
                        <ion-checkbox></ion-checkbox>
                      </ion-card>
              </ion-col>

              <ion-col col-2>
                      <ion-card class="option-card-div">
                        <ion-label class="match-title"><strong>Q</strong></ion-label>
                        <hr class="option-radio-divider">
                        <ion-checkbox></ion-checkbox>
                      </ion-card>
              </ion-col>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="match-title"><strong>R</strong></ion-label>
                    <hr class="option-radio-divider">
                    <ion-checkbox></ion-checkbox>
                  </ion-card>
          </ion-col>
          <ion-col col-2>
              <ion-card class="option-card-div">
                <ion-label class="match-title"><strong>S</strong></ion-label>
                <hr class="option-radio-divider">
                <ion-checkbox></ion-checkbox>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

          <div class="option">
              <ion-row>
                  <ion-col col-2>
                      <ion-card class="option-card-div">
                        <ion-label class="option-title"><strong>B</strong></ion-label>
                      </ion-card>
                    </ion-col>
                  <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
              </ion-row>
              
              <ion-row>
                  <ion-col col-2>
                      <ion-card class="option-card-div">
                          <ion-label class="option-title"><strong>Q</strong></ion-label>
                        </ion-card>
                  </ion-col>
                <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
              </ion-row>
              <ion-grid radio-group>
                <ion-row>
                    <ion-col col-3></ion-col>
                    <ion-col col-2>
                        <ion-card class="option-card-div">
                          <ion-label class="match-title"><strong>P</strong></ion-label>
                          <hr class="option-radio-divider">
                          <ion-checkbox></ion-checkbox>
                        </ion-card>
                </ion-col>

                <ion-col col-2>
                        <ion-card class="option-card-div">
                          <ion-label class="match-title"><strong>Q</strong></ion-label>
                          <hr class="option-radio-divider">
                          <ion-checkbox></ion-checkbox>
                        </ion-card>
                </ion-col>
                <ion-col col-2>
                    <ion-card class="option-card-div">
                      <ion-label class="match-title"><strong>R</strong></ion-label>
                      <hr class="option-radio-divider">
                      <ion-checkbox></ion-checkbox>
                    </ion-card>
            </ion-col>
            <ion-col col-2>
                <ion-card class="option-card-div">
                  <ion-label class="match-title"><strong>S</strong></ion-label>
                  <hr class="option-radio-divider">
                  <ion-checkbox></ion-checkbox>
                </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="option">
          <ion-row>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="option-title"><strong>C</strong></ion-label>
                  </ion-card>
                </ion-col>
              <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                      <ion-label class="option-title"><strong>R</strong></ion-label>
                    </ion-card>
              </ion-col>
            <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
          </ion-row>
          <ion-grid radio-group>
            <ion-row>
                <ion-col col-3></ion-col>
                <ion-col col-2>
                    <ion-card class="option-card-div">
                      <ion-label class="match-title"><strong>P</strong></ion-label>
                      <hr class="option-radio-divider">
                      <ion-checkbox></ion-checkbox>
                    </ion-card>
            </ion-col>

            <ion-col col-2>
                    <ion-card class="option-card-div">
                      <ion-label class="match-title"><strong>Q</strong></ion-label>
                      <hr class="option-radio-divider">
                      <ion-checkbox></ion-checkbox>
                    </ion-card>
            </ion-col>
            <ion-col col-2>
                <ion-card class="option-card-div">
                  <ion-label class="match-title"><strong>R</strong></ion-label>
                  <hr class="option-radio-divider">
                  <ion-checkbox></ion-checkbox>
                </ion-card>
            </ion-col>
            <ion-col col-2>
              <ion-card class="option-card-div">
                <ion-label class="match-title"><strong>S</strong></ion-label>
                <hr class="option-radio-divider">
                <ion-checkbox></ion-checkbox>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="option">
          <ion-row>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                    <ion-label class="option-title"><strong>D</strong></ion-label>
                  </ion-card>
                </ion-col>
              <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col col-2>
                  <ion-card class="option-card-div">
                      <ion-label class="option-title"><strong>S</strong></ion-label>
                    </ion-card>
              </ion-col>
            <ion-col col-10><div class="ans" [froalaEditor]></div></ion-col>
          </ion-row>
          <ion-grid radio-group>
            <ion-row>
                <ion-col col-3></ion-col>
                <ion-col col-2>
                    <ion-card class="option-card-div">
                      <ion-label class="match-title"><strong>P</strong></ion-label>
                      <hr class="option-radio-divider">
                      <ion-checkbox></ion-checkbox>
                    </ion-card>
            </ion-col>

            <ion-col col-2>
                    <ion-card class="option-card-div">
                      <ion-label class="match-title"><strong>Q</strong></ion-label>
                      <hr class="option-radio-divider">
                      <ion-checkbox></ion-checkbox>
                    </ion-card>
            </ion-col>
            <ion-col col-2>
                <ion-card class="option-card-div">
                  <ion-label class="match-title"><strong>R</strong></ion-label>
                  <hr class="option-radio-divider">
                  <ion-checkbox></ion-checkbox>
                </ion-card>
            </ion-col>
            <ion-col col-2>
                <ion-card class="option-card-div">
                  <ion-label class="match-title"><strong>S</strong></ion-label>
                  <hr class="option-radio-divider">
                  <ion-checkbox></ion-checkbox>
                </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <h5>Explaination:*</h5>
            <div class="ans"[froalaEditor]></div>
      </ion-grid>
      </div>
      <!--"-->
      <button ion-button type="submit" (click)="logForm()" >Submit</button>
      <input ion-button color="danger" type=reset value="Reset">
</ion-content>
